* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Inter;
  overflow-x: hidden;
}

.titleGradient {
  background: -webkit-linear-gradient(#00ff00, #009000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}