* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Inter;
  overflow-x: hidden;
}

::selection {
  background-color: #009000;
  color: white;
}

.titleGradient {
  background: -webkit-linear-gradient(#00ff00, #009000);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.hero {
  background-image: url("https://res.cloudinary.com/diruiumfk/image/upload/v1693365648/synthwave_bxvec7.webp");
  background-size: contain;
  object-fit: fill;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #1c1c1c;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a1a1a1;
}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0);
}
